<div>
  <button (click)="actMenu = menu.USERS">Users</button> <button (click)="actMenu = menu.BOOKS">Books</button> <button (click)="actMenu = menu.BORROWINGS">Borrowings</button>
  <div *ngIf="actMenu == menu.BOOKS">
    <br>
    ID: <input type="text" [(ngModel)]="book.id"> <br><br>
    NAME: <input type="text" [(ngModel)]="book.name"> <br><br>
    AUTHOR: <input type="text" [(ngModel)]="book.author"> <br><br>
    AVAILABLE: <input type="text" [(ngModel)]="book.available"> <br><br>
    <button (click)="add()">Add book</button><br><br>
    books:
    <h3 *ngFor="let k of books">{{k.id}}, {{k.name}}, {{k.author}}, {{k.available}}</h3>
  </div>
  <div *ngIf="actMenu == menu.USERS">
    <h2>TODO</h2>
  </div>
  <div *ngIf="actMenu == menu.BORROWINGS">
    <h2>TODO</h2>
  </div>
</div>
